ColumnLimit: 80
IndentWidth: 4
AccessModifierOffset: -4
BreakBeforeBraces: Stroustrup
AlignConsecutiveAssignments: true
AlignEscapedNewlines: Right
AlignConsecutiveDeclarations: true
AlwaysBreakTemplateDeclarations: true
DerivePointerBinding: false
PointerBindsToType: false
DerivePointerAlignment: false
PointerAlignment: Left